{
	"presets": [
		"@babel/preset-env",
		 [
			"@babel/preset-react",
			 {"runtime": "automatic"}
		],
		"@babel/preset-typescript"
	],
	"plugins": [
		"@babel/plugin-transform-runtime",
		[
		"module-resolver",
		{
			"root": ["./src"],
			"alias": {
				"_": ".",
				"_components": "_components",
				"_shared": "_shared",
				"_assets": "_assets",
				"_pages": "_pages",
				"_styled": "styled",
				"_styles": "_styles",
				"_icons": "_assets/_icons",
				"_types": "_types",
				"_hocs": "_hocs",
				"_buttons": "_components/_shared/_buttons",
				"_formcontrol": "_components/_shared/_formcontrol",
				"_helpers": "_helpers",
				"_hooks": "_hooks",
				"_mocks": "_mocks",
				"_api": "_api",
				"_http": "_http",
				"_services": "_services",
				"_store": "_store",
				"_transitions": "_components/_transitions",
				"_constants": "_constants",
				"_skeletons": "_components/_skeletons",
				"_ws": "_api/_ws",
				"_friends": "_components/_friends"
			}
		}
		]
	]
}